<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Styleguide Showroom</title>
        <link rel="stylesheet" href="/styles/va.cms.css" />
        <link rel="stylesheet" href="/styleguide/styleguide.css" />
    </head>
<body>
    <aside class="styleguide-nav">
        <h1>Arguments widget</h1>
        <a href="/index.html" class="link--primary">Back home</a>
        <ul>
            <li><a href="#horizontal">Horizontal</a></li>
            <li><a href="#vertical">Vertical</a></li>
            <li><a href="#hover">Hover (Horizontal)</a></li>
        </ul>
    </aside>
    <main class="styleguide-content">
        <section>
            <h1>Arguments</h1>
        </section>
        <section id="horizontal">
            <h2>Horizontal</h2>
            <div class="arguments arguments--horizontal">
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 1</h6>
                        <p class="arguments__description">Argument item 1 description</p>
                    </div>
                </div>
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 2</h6>
                        <p class="arguments__description">Argument item 2 description</p>
                    </div>
                </div>
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 3</h6>
                        <p class="arguments__description">Argument item 3 long text description so it can grow and occupy most of the item available space</p>
                    </div>
                </div>
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 4</h6>
                        <p class="arguments__description">Argument item 4 description</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="vertical">
            <h2>Vertical</h2>
            <div class="arguments arguments--vertical">
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 1</h6>
                        <p class="arguments__description">Argument item 1 description</p>
                    </div>
                </div>
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 2</h6>
                        <p class="arguments__description">Argument item 2 description</p>
                    </div>
                </div>
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 3</h6>
                        <p class="arguments__description">Argument item 3 long text description so it can grow and occupy most of the item available space</p>
                    </div>
                </div>
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 4</h6>
                        <p class="arguments__description">Argument item 4 description</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="hover">
            <h2>Hover - horizontal with hover effect on items</h2>
            <div class="arguments arguments--hover">
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 1</h6>
                        <p class="arguments__description">Argument item 1 description</p>
                    </div>
                </div>
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 2</h6>
                        <p class="arguments__description">Argument item 2 description</p>
                    </div>
                </div>
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 3</h6>
                        <p class="arguments__description">Argument item 3 long text description so it can grow and occupy most of the item available space</p>
                    </div>
                </div>
                <div class="arguments__item">
                    <div class="arguments__icon">
                        <i class="va-icon va-icon-information"></i>
                    </div>
                    <div class="arguments__content">
                        <h6 class="arguments__title">Argument item 4</h6>
                        <p class="arguments__description">Argument item 4 description</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="/scripts/va.cms.bundle.js"></script>
</body>
</html>