<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Styleguide Showroom</title>
        <link rel="stylesheet" href="/styles/va.cms.css" />
        <link rel="stylesheet" href="/styleguide/styleguide.css" />
    </head>

<body>
    <aside class="styleguide-nav">
        <h1>Categories</h1>
        <a href="/index.html" class="link--primary">Back home</a>
        <ul>
            <li><a href="#custom-borders">Basic custom borders</a></li>
        </ul>
    </aside>
    <main class="styleguide-content">
        <section>
            <h1>Custom borders</h1>
        </section>

        <section id="custom-borders">
            <h1>Custom borders</h1>
            <div class="styleguide-custom-borders">
                <div class="row">
                    <div class="col-md-4">
                        <div class="custom-border">
                            <div class="content">Content 1<br />Hi friends<br />Seems fun?<br />plif<br />plaf<br />plouf</div>
                            <div class="custom-border__right"></div>
                            <div class="custom-border__bottom"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-border">
                            <div class="content">Content 2<br />Hi friends<br />Seems fun?<br />plif<br />plaf<br />plouf</div>
                            <div class="custom-border__right"></div>
                            <div class="custom-border__bottom"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-border">
                            <div class="content">Content 3<br />Hi friends<br />Seems fun?<br />plif<br />plaf<br />plouf</div>
                            <div class="custom-border__bottom"></div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="custom-border">
                            <div class="content">Content 4<br />Hi friends<br />Seems fun?<br />plif<br />plaf<br />plouf</div>
                            <div class="custom-border__right"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content">Content 5<br />Hi friends<br />Seems fun?<br />plif<br />plaf<br />plouf</div>
                        <div class="custom-border">
                            <div class="custom-border__right"></div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="content">Content 6<br />Hi friends<br />Seems fun?<br />plif<br />plaf<br />plouf</div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <script src="/scripts/va.cms.bundle.js"></script>
</body>

</html>