<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Styleguide Showroom</title>
        <link rel="stylesheet" href="/styles/va.cms.css" />
        <link rel="stylesheet" href="/styleguide/styleguide.css" />
    </head>

<body>
    <aside class="styleguide-nav">
        <h1>Categories</h1>
        <a href="/index.html" class="link--primary">Back home</a>        
        <ul>
            <li><a href="#default">Default banner</a></li>
            <li><a href="#primary">Primary banner</a></li>
            <li><a href="#white">White banner</a></li>
            <li><a href="#grey">Grey banner</a></li>
            <li><a href="#greyer">Greyer banner</a></li>
            <li><a href="#small">Small banner</a></li>
            <li><a href="#full-image">Full--image banner</a></li>
            <li><a href="#footer">Footer</a></li>
        </ul>
    </aside>
    <main class="styleguide-content">
        <section class="p-4">
            <h1>Layouts</h1>
        </section>
        <section id="default" class="banner">
            <div class="container">
                <h1 class="h2">I am a default banner with no bg color</h1>
                <p><code>.banner</code></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
            </div>
        </section>
        <section id="primary" class="banner banner--primary">
            <div class="container">
                <h1 class="h2">I am a primary banner</h1>
                <p><code>.banner.banner--primary</code></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
            </div>
        </section>
        <section id="white" class="banner banner--white">
            <div class="container">
                <h1 class="h2">I am a White banner</h1>
                <p><code>.banner.banner--white</code></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
            </div>
        </section>
        <section id="grey" class="banner banner--grey">
            <div class="container">
                <h1 class="h2">I am a Grey banner</h1>
                <p><code>.banner.banner--grey</code></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
            </div>
        </section>
        <section id="greyer" class="banner banner--greyer">
            <div class="container">
                <h1 class="h2">I am a Greyer banner</h1>
                <p><code>.banner.banner--greyer</code></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
            </div>
        </section>
        <section id="small" class="banner banner--small banner--grey">
            <div class="container">
                <h1 class="h2">I am a Small banner (with a grey bg)</h1>
                <p><code>.banner.banner--small.banner--grey</code></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
            </div>
        </section>
        <section id="full-image" class="banner banner--full-image">
            <div class="container">
                <h1 class="h2">I am a Full-image banner</h1>
                <p><code>.banner.banner--full-image</code></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</p>
            </div>
        </section>
        <footer id="footer" class="banner banner--primary">
            <div class="footer container">
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <h2>
                                Nos produits
                            </h2>
                            <ul class="list-links">
                                <li class="list-links__item">
                                    <a href="#" class="with-arrow">Véhicules</a>
                                </li>
                                <li class="list-links__item">
                                    <a href="#" class="with-arrow">Ménage</a>
                                </li>
                                <li class="list-links__item">
                                    <a href="#" class="with-arrow">Responsabilité Civile</a>
                                </li>
                                <li class="list-links__item">
                                    <a href="#" class="with-arrow">Prévoyance</a>
                                </li>
                                <li class="list-links__item">
                                    <a href="#" class="with-arrow">Prêts Hypothécaires</a>
                                </li>
                                <li class="list-links__item">
                                    <a href="#" class="with-arrow">Assurances Entreprises</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <h2>
                                Nos produits
                            </h2>
                            <ul class="list-links">
                                <li class="list-links__item">
                                    <a href="#" aria-label="Contacter un Conseiller">
                                        <i class="va-icon va-icon-mail"></i>
                                        <span>Contacter un Conseiller</span>
                                    </a>
                                </li>
                                <li class="list-links__item">
                                    <a href="#" aria-label="Nous Rendre Visites">
                                        <i class="va-icon va-icon-location"></i>
                                        <span>Nous Rendre Visites</span>
                                    </a>
                                </li>
                                <li class="list-links__item">
                                    <a href="#" aria-label="Carrières">
                                        <i class="va-icon va-icon-profile"></i>
                                        <span>Carrières</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 d-none d-lg-block">
                        <div>
                            <h2>
                                Suivez-nous
                            </h2>
                            <ul class="list-links list-links--social">
                                <li class="list-links__item">
                                    <a href="#" aria-label="Facebook" class="va-icon va-icon-facebook">
                                    </a>
                                </li>
                                <li class="list-links__item">
                                    <a href="#" aria-label="LinkedIn" class="va-icon va-icon-linkedin">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <form action="//vaudoise.us9.list-manage.com/subscribe/post?u=4e32e8c3ea12da9faacf57f8b&id=a05dea31f4" class="validate newsletter" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                            <label for="mce-EMAIL" class="newsletter__caption">Inscrivez-vous &agrave; notre newsletter</label>
                            <input id="mce-EMAIL" name="EMAIL" placeholder="E-mail" required="" type="email" value="" class="newsletter__input" />
                            <input name="b_4e32e8c3ea12da9faacf57f8b_a05dea31f4" tabindex="-1" type="hidden" value="" />
                            <input id="mc-embedded-subscribe" name="subscribe" type="submit" value="S'inscrire" class="btn btn--sm newsletter__submit" />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <ul class="list-links list-links--impressum">
                            <li class="list-links__item">
                                <a href="#">Impressum</a>
                            </li>
                            <li class="list-links__item">
                                <a href="#">Informations légales</a>
                            </li>
                            <li class="list-links__item">
                                <a href="#">Protection des données</a>
                            </li>
                            <li class="list-links__item">
                                <a href="#">Politique en matière de cookies</a>
                            </li>
                            <li class="list-links__item">
                                <a href="#">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer__copyright">
                            Copyright © 2021 Vaudoise Assurances
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            var productCard = document.querySelector('.card--product');
            var gridItems = document.querySelectorAll('.custom-border');

            for (var i = 0; i < gridItems.length; ++i) {
                gridItems[i].appendChild(productCard.cloneNode(true));
            }
        </script>
    </main>
    <script src="/scripts/va.cms.bundle.js"></script>
</body>

</html>